<template>
  <div id="floatLeft">
    <!-- table for color square (5 per row) and the eraser -->
    <table>
      <tr v-for="(row, k) in rowOfColor" :key="k">
        <td
          class="color-box"
          v-for="(legend, i) in squareColorCountInRow(row)"
          :key="i"
        >
          <span
            class="cursorPointer"
            :class="{ colorBoxSpanSelected: legend.selected }"
            :style="'background-color:' + legend.color"
            @click="chooseColor(legend)"
          ></span>
        </td>
      </tr>
      <tr>
        <td :colspan="legends.length">
          <span
            class="mdi mdi-eraser fontSize50px cursorPointer"
            @click="erase"
          ></span>
        </td>
      </tr>
    </table>

    <!-- table for legends and their respective colors -->
    <table id="legend-table">
      <tr>
        <td class="legend-box" v-for="(legend, i) in legends" :key="i">
          <span :style="'background-color:' + legend.color"></span>
        </td>
      </tr>
      <tr>
        <td class="legend-box-sndRow" v-for="(legend, j) in legends" :key="j">
          <p>{{ legend.text }}</p>
          <span
            class="mdi mdi-delete cursorPointer"
            style="float: left"
            @click="deleteLegend(j)"
          ></span>
          <span
            class="mdi mdi-pencil cursorPointer"
            style="float: right"
            @click="editLegendFunc(legend, j)"
          ></span>
        </td>
      </tr>
    </table>

    <span
      class="mdi fontSize40px cursorPointer"
      :class="editLegend ? 'mdi-content-save' : 'mdi-plus-circle'"
      @click="addLegend"
    ></span>

    <form id="formLegend">
      <h3>{{ editLegend ? "Edit" : "Add new" }} Legend</h3>
      <p>
        <label for="legend">Legend:</label>
        <input
          type="text"
          name="legend"
          id="legend"
          v-model.trim="newLegend.text"
        />
      </p>

      <p>
        <label for="color">Color:</label>
        <input
          type="text"
          name="color"
          id="color"
          v-model.trim="newLegend.color"
        />
      </p>
    </form>

    <p style="margin: 5px 0px 10px 0px">
      <button
        style="margin-right: 10px"
        :class="{ buttonGreen: shiftOneColor }"
        @click="activateShiftOneColor"
      >
        shift 1 color
      </button>
      <button
        :class="{ buttonGreen: shiftTheRow }"
        @click="activateShiftTheRow"
      >
        shift the entire row
      </button>
    </p>
    <!-- ^ tool | v gantt -->

    <div id="gantt-addF-container">
      <div class="div-gantt-table" id="divId-gantt-table">
        <!-- table for the gantt diagram -->
        <table id="gantt-table">
          <tr>
            <td id="td-BorderNone"></td>
            <td id="td-BorderNone"></td>
            <!-- ^ 2 cols for features -->
            <td
              class="td-gantt_Padding4px"
              v-for="(year, iy) in nbYears"
              :key="iy"
              :colspan="year.nbW"
            >
              <span>{{ year.year }}</span>
            </td>
          </tr>
          <tr>
            <td id="td-BorderNone"></td>
            <td id="td-BorderNone"></td>
            <td
              class="td-gantt_Padding4px"
              v-for="(month, im) in listOfMonth"
              :key="im"
              :colspan="month.nbWeeks.numberOfWeeks"
            >
              <span>{{ monthNames[im] }}</span>
            </td>
          </tr>
          <tr>
            <td id="td-BorderNone"></td>
            <td id="td-BorderNone"></td>
            <td
              class="td-gantt-week_Width30px"
              v-for="(week, iw) in periodInWeeks"
              :key="iw"
            >
              <span>{{ week }}</span>
              <!-- number of the week -->
            </td>
          </tr>
          <!-- v row for all features -->
          <tr v-for="(feature, ife) in features" :key="ife" id="rowFeature">
            <td class="td-gantt_Padding8px sticky-col">
              <span style="white-space: nowrap">{{ feature.name }}</span>
            </td>
            <td>
              <span
                class="mdi mdi-delete cursorPointer"
                @click="deleteFeature(ife)"
              ></span>
            </td>
            <td
              id="colColorFeature"
              v-for="(_, j) in feature.fPeriodTotalWeeks"
              :key="j"
              :style="{ backgroundColor: feature.fPeriodTotalWeeks[j] }"
              :class="{ movePointer: shiftOneColor || shiftTheRow }"
              @click="colorizedThisCell(feature, j)"
              @dragstart="dragStart(ife, j, $event)"
              @dragenter.prevent
              @dragover.prevent
              @drop.prevent="drop(j, $event)"
            ></td>
          </tr>
        </table>
      </div>
      <p>
        <label for="feature">new Feature:</label>
        <input
          type="text"
          name="feature"
          id="feature"
          v-model.trim="newFeature"
        />
        <span
          class="mdi mdi-plus-circle cursorPointer"
          @click="addFeature"
        ></span>
      </p>
    </div>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
import dateControl from '../JsMethods/dateControlSupport'
/*
  WARNING
  new Date("2015-11-25"); => Wed Nov 25 2015 ## I choose this format per default
  new Date(2015, 11, 25); => Fri Dec 25 2015 ## I choose this format only for getNumberOfWeeksInMonth()
*/

export default {
  emits: ['timePeriodObj', 'preselectWidth'],
  props: {
    currentLanguage: String,
    // form : startEndDate={startDate:startDate,endDate:endDate,localStorDate:localStorDate}
    startEndDate: Object,
    preselectedWidth: Number
  },
  mounted () {
    this.emitter.on('importJSON', () => {
      this.importJSON()
    })
    this.emitter.on('exportJSON', () => {
      this.exportJSON()
    })
    this.emitter.on('exportPNG', () => {
      this.exportPNG()
    })
    this.emitter.on('copyClipboard', () => {
      this.copyClipboard()
    })
    if (localStorage.getItem('legends')) {
      try {
        this.legends = JSON.parse(localStorage.getItem('legends'))
      } catch (e) {
        localStorage.removeItem('legends')
      }
    }
    if (localStorage.getItem('features')) {
      try {
        this.features = JSON.parse(localStorage.getItem('features'))
      } catch (e) {
        localStorage.removeItem('features')
      }
    }
    if (localStorage.getItem('nbYears')) {
      try {
        this.nbYears = JSON.parse(localStorage.getItem('nbYears'))
      } catch (e) {
        localStorage.removeItem('nbYears')
      }
    }
    if (localStorage.getItem('periodInWeeks')) {
      try {
        this.periodInWeeks = JSON.parse(localStorage.getItem('periodInWeeks'))
      } catch (e) {
        localStorage.removeItem('periodInWeeks')
      }
    }
    if (localStorage.getItem('listOfMonth')) {
      try {
        this.listOfMonth = JSON.parse(localStorage.getItem('listOfMonth'))
      } catch (e) {
        localStorage.removeItem('listOfMonth')
      }
    }
    if (localStorage.nbFirstWeek) {
      this.nbFirstWeek = localStorage.nbFirstWeek
    }
  },
  data () {
    return {
      preselWidth: null,
      itemsPerRow: 5, // color square per row
      selectedColor: null,
      shiftOneColor: false,
      shiftTheRow: false,
      legends: [
        { text: 'Plannung Implementierung', color: '#e0e03e', selected: false },
        { text: 'Rollout', color: '#70c24a', selected: false }
      ],
      newLegend: { text: '', color: '#' },
      editLegend: false,
      editLegendIndex: null,

      newFeature: null,
      features: [
        { name: 'featureAlpha', fPeriodTotalWeeks: [] },
        { name: 'featureB', fPeriodTotalWeeks: [] },
        { name: 'featureC', fPeriodTotalWeeks: [] }
      ],

      nbYears: [],
      periodInWeeks: [],
      listOfMonth: [],
      nbFirstWeek: 0,
      startDate_data: null,
      endDate_data: null,

      refreshPreviewByImportDate: false,
      refreshPreviewByImportWidth: false
    }
  },
  watch: {
    legends: {
      handler (val) {
        localStorage.setItem('legends', JSON.stringify(val))
        this.refreshCanvas()
      },
      deep: true
    },
    features: {
      handler (val) {
        localStorage.setItem('features', JSON.stringify(val))
        this.refreshCanvas()
      },
      deep: true
    },
    nbYears (val) {
      localStorage.setItem('nbYears', JSON.stringify(val))
    },
    periodInWeeks (val) {
      localStorage.setItem('periodInWeeks', JSON.stringify(val))
    },
    listOfMonth (val) {
      localStorage.setItem('listOfMonth', JSON.stringify(val))
    },
    nbFirstWeek (val) {
      localStorage.nbFirstWeek = val
    },
    startEndDate: {
      handler (val, oldVal) {
        if (val.localStorDate) {
          this.startDate_data = val.startDate
          this.endDate_data = val.endDate
        }
        // if statement because this watcher is always called even if the 2 Dates don't change
        if ((val.startDate !== oldVal.startDate || val.endDate !== oldVal.endDate) && !this.refreshPreviewByImportDate && !val.localStorDate) {
          this.nbYears = []
          this.periodInWeeks = []
          this.listOfMonth = []
          this.nbFirstWeek = 0
          if (val.startDate === this.startDate_data && val.endDate !== this.endDate_data) {
            this.startIsSame()
          } else if (val.startDate !== this.startDate_data && val.endDate === this.endDate_data) {
            this.endIsSame()
          } else {
            this.startAndEndAreDifferent()
          }
          this.startDate_data = val.startDate
          this.endDate_data = val.endDate
        }
        this.refreshPreviewByImportDate = false
      },
      deep: true
    },
    preselectedWidth (val, oldVal) {
      if (val !== oldVal) {
        if (!this.refreshPreviewByImportWidth) {
          this.preselWidth = val
          setTimeout(() => {
            this.refreshCanvas()
          }, 500)
        }
        this.refreshPreviewByImportWidth = false
      }
    }
  },
  computed: {
    getCurrentLanguage: function () {
      return this.currentLanguage
    },
    monthNames: function () {
      // TODO return array of Strings (month names) in the user selected language
      var resultArray = []
      this.listOfMonth.forEach(m => {
        const stringDate = `${m.year}-${m.number}-01`
        const dateToTest = new Date(stringDate)
        const monthName = dateToTest.toLocaleDateString(this.getCurrentLanguage, { month: 'long' })
        resultArray.push(monthName)
      })
      return resultArray
    },
    rowOfColor: function () {
      return Math.ceil(this.legends.length / this.itemsPerRow)
    }
  },
  methods: {
    startIsSame () {
      this.initGanttTable()
      this.features.forEach(f => {
        for (let i = f.fPeriodTotalWeeks.length; i < this.periodInWeeks.length; i++) {
          f.fPeriodTotalWeeks[i] = 'transparent'
        }
      })
      this.features.forEach(f => {
        f.fPeriodTotalWeeks.length = this.periodInWeeks.length
      })
    },
    endIsSame () {
      this.initGanttTable()
      let newPeriod = this.periodInWeeks.length - this.features[0].fPeriodTotalWeeks.length
      if (newPeriod >= 0) {
        this.features.forEach(f => {
          for (let i = 0; i < newPeriod; i++) {
            f.fPeriodTotalWeeks.unshift('transparent')
          }
        })
      } else {
        newPeriod = newPeriod * -1
        this.features.forEach(f => {
          f.fPeriodTotalWeeks.splice(0, newPeriod)
        })
      }
      this.features.forEach(f => {
        f.fPeriodTotalWeeks.length = this.periodInWeeks.length
      })
    },
    startAndEndAreDifferent () {
      this.initGanttTable()
      this.features.forEach(f => {
        f.fPeriodTotalWeeks.length = this.periodInWeeks.length
        f.fPeriodTotalWeeks.fill('transparent') // initialize background-color to transparent
      })
    },
    squareColorCountInRow (index) {
      return this.legends.slice((index - 1) * this.itemsPerRow, index * this.itemsPerRow)
    },
    chooseColor (legend) {
      this.unselectedOtherColor(legend)
      legend.selected = !legend.selected
      this.selectedColor = legend.color
    },
    colorizedThisCell (feature, nbRow) {
      if (!this.shiftOneColor && !this.shiftTheRow) {
        const index = this.features.findIndex(f => f === feature)
        const feat = this.features[index]
        feat.fPeriodTotalWeeks[nbRow] = this.selectedColor
      }
    },
    unselectedOtherColor (legend) {
      this.shiftTheRow = false
      this.shiftOneColor = false
      this.selectedColor = 'transparent'
      this.legends.map(l => {
        if (l !== legend) {
          l.selected = false
        }
      })
    },
    erase () {
      this.unselectedOtherColor()
    },
    addLegend () {
      if (this.editLegend) {
        this.legends[this.editLegendIndex].text = this.newLegend.text
        this.legends[this.editLegendIndex].color = this.newLegend.color
        this.editLegend = false
      } else {
        this.legends.push({ text: this.newLegend.text, color: this.newLegend.color, selected: false })
      }
      this.editLegendIndex = null
      this.newLegend.text = ''
      this.newLegend.color = '#'
    },
    deleteLegend (index) {
      this.legends.splice(index, 1)
      // if edit is running on the legend that is removed, clear the form
      if (this.editLegendIndex === index) {
        this.editLegend = false
        this.newLegend.text = ''
        this.newLegend.color = '#'
      } else if (this.editLegendIndex > index) {
        this.editLegendIndex = this.editLegendIndex - 1
      }
    },
    editLegendFunc (legend, index) {
      this.editLegend = true
      this.editLegendIndex = index
      this.newLegend.text = legend.text
      this.newLegend.color = legend.color
      this.unselectedOtherColor()
    },
    addFeature () {
      if (this.periodInWeeks.length === 0) {
        this.features.push({ name: this.newFeature, fPeriodTotalWeeks: [] })
      } else {
        const tempArray = []
        tempArray.length = this.periodInWeeks.length
        this.features.push({ name: this.newFeature, fPeriodTotalWeeks: tempArray })
      }
      this.newFeature = null
    },
    deleteFeature (i) {
      this.features.splice(i, 1)
    },

    // ---###---DRAG AND DROP FOR SHIFT OPERATOR---###---
    activateShiftOneColor () {
      this.unselectedOtherColor()
      this.shiftOneColor = !this.shiftOneColor
      this.shiftTheRow = false
    },
    activateShiftTheRow () {
      this.unselectedOtherColor()
      this.shiftTheRow = !this.shiftTheRow
      this.shiftOneColor = false
    },
    dragStart (row, col, e) {
      if (!this.shiftOneColor && !this.shiftTheRow) {
        return
      }
      if (this.shiftOneColor) {
        // get the color of the selected cell
        const bgColor = this.features[row].fPeriodTotalWeeks[col]
        // determine the period of the color
        let startShift = col
        let endShift = col
        for (let i = col; i >= 0; i--) {
          if (this.features[row].fPeriodTotalWeeks[i] === bgColor) {
            startShift = i
          } else {
            break
          }
        }
        for (let i = col; i < this.features[row].fPeriodTotalWeeks.length; i++) {
          if (this.features[row].fPeriodTotalWeeks[i] === bgColor) {
            endShift = i
          } else {
            break
          }
        }
        const periodBeforeCol = col - startShift
        const periodAfterCol = endShift - col
        e.dataTransfer.setData('periodColor', bgColor)
        e.dataTransfer.setData('periodBeforeCol', periodBeforeCol)
        e.dataTransfer.setData('periodAfterCol', periodAfterCol)
      }
      if (this.shiftTheRow) {
        const colorsOfRow = []
        this.features[row].fPeriodTotalWeeks.forEach(col => {
          colorsOfRow.push(col)
        })
        e.dataTransfer.setData('colorsOfRow', JSON.stringify(colorsOfRow))
      }
      e.dataTransfer.setData('rowToUpdate', row)
      e.dataTransfer.setData('originalCol', col)
    },
    drop (col, e) {
      if (!this.shiftOneColor && !this.shiftTheRow) {
        return
      }
      const rowToUpdate = e.dataTransfer.getData('rowToUpdate')
      const originalCol = +e.dataTransfer.getData('originalCol')
      if (this.shiftOneColor) {
        const periodColor = e.dataTransfer.getData('periodColor')
        const periodBeforeCol = +e.dataTransfer.getData('periodBeforeCol') // + to convert to Number
        const periodAfterCol = +e.dataTransfer.getData('periodAfterCol')
        this.assignColorToPeriod('transparent', rowToUpdate, periodBeforeCol, originalCol, periodAfterCol)
        this.assignColorToPeriod(periodColor, rowToUpdate, periodBeforeCol, col, periodAfterCol)
      }
      if (this.shiftTheRow) {
        const colorsOfRow = JSON.parse(e.dataTransfer.getData('colorsOfRow'))
        // first CASE
        if (originalCol < col) {
          const startIndex = col - originalCol
          let indexOfColor = 0
          for (let i = 0; i < startIndex; i++) {
            this.features[rowToUpdate].fPeriodTotalWeeks[i] = 'transparent'
          }
          for (let i = startIndex; i < this.features[rowToUpdate].fPeriodTotalWeeks.length; i++) {
            this.features[rowToUpdate].fPeriodTotalWeeks[i] = colorsOfRow[indexOfColor]
            indexOfColor = indexOfColor + 1
          }
        }
        // second CASE
        if (col < originalCol) {
          let indexOfColor = originalCol - col
          const afterCol = this.features[rowToUpdate].fPeriodTotalWeeks.length - originalCol
          const lastIndex = col + afterCol
          for (let i = 0; i < lastIndex; i++) {
            this.features[rowToUpdate].fPeriodTotalWeeks[i] = colorsOfRow[indexOfColor]
            indexOfColor = indexOfColor + 1
          }
          for (let i = lastIndex; i < this.features[rowToUpdate].fPeriodTotalWeeks.length; i++) {
            this.features[rowToUpdate].fPeriodTotalWeeks[i] = 'transparent'
          }
        }
      }
    },
    assignColorToPeriod (color, row, periodBeforeCol, col, periodAfterCol) {
      for (let i = col; i >= (col - periodBeforeCol); i--) {
        if (i === -1) {
          break
        }
        this.features[row].fPeriodTotalWeeks[i] = color
      }
      for (let i = col; i <= (col + periodAfterCol); i++) {
        if (i === this.features[row].fPeriodTotalWeeks.length) {
          break
        }
        this.features[row].fPeriodTotalWeeks[i] = color
      }
    },

    // ---###---PREVIEW CANVAS---###---
    refreshCanvas () {
      // without SetTimeout I don't capture the action that is done when refreshCanvas is called
      setTimeout(() => {
        if (document.getElementsByTagName('canvas').length > 0) {
          // the block <canvas> from html2canvas already exists, so remove first
          const x = document.getElementsByTagName('canvas')
          // x is an array, and this can have multiple <canvas> block when there is trouble with the creation of <canvas>
          for (let i = x.length - 1; i >= 0; i--) {
            // reinitialisation of the <canvas> block that need to be unique
            document.body.removeChild(x[i])
          }
        }
        // cloning to avoid to touch to the original
        const myTable = document.getElementById('gantt-table')
        const cloneOriginalTable = myTable.cloneNode(true)

        const allRows = cloneOriginalTable.rows
        for (let j = 0; j < allRows.length; j++) {
          // Deleting the 1st cell of each row = carbage col
          allRows[j].deleteCell(1)
          allRows[j].cells[0].classList.remove('sticky-col') // to get Features on the left on the preview
        }
        // change some CSS properties to get the entire table for the capture
        cloneOriginalTable.classList.add('gantt-table-Preview')
        const indexOfLastRow = cloneOriginalTable.children.length - 1
        cloneOriginalTable.children.forEach((rowChild, indexOfRow) => {
          rowChild.children.forEach((cellChild, indexOfCell) => {
            if (cellChild.id !== 'td-BorderNone') {
              cellChild.classList.add('cell-default-Preview')
              if (rowChild.id === 'rowFeature' && cellChild.id === 'colColorFeature') {
                indexOfCell === 1 ? cellChild.classList.add('cell-1stColColor-Preview') : cellChild.classList.add('cell-color-Preview')
              }
            }
          })
          const cellChildArr = [...rowChild.children]
          cellChildArr.slice(-1)[0].classList.add('cell-lastOfRow-Preview') // border right
          if (indexOfRow === indexOfLastRow) {
            rowChild.children.forEach(cellChild => {
              cellChild.classList.add('cell-lastRow-Preview') // border bottom
            })
          }
        })
        // ----------Creation of the render from the legends in the Preview
        const legendsPerRow = 3
        const nbRows = Math.ceil(this.legends.length / legendsPerRow)
        const legendTableInPreview = document.createElement('table')
        for (let i = 1; i <= nbRows; i++) {
          const result = this.legends.slice((i - 1) * legendsPerRow, i * legendsPerRow)
          const tr = document.createElement('tr') // 1 row
          result.forEach(r => {
            const tdColor = document.createElement('td') // col 1 color
            const tdText = document.createElement('td') // col 2 text
            const text = document.createTextNode(r.text)
            tdText.appendChild(text)
            tr.appendChild(tdColor)
            tr.appendChild(tdText)
            tdColor.style.width = '18px'
            tdColor.style.backgroundColor = r.color
            tdText.style.paddingRight = '35px'
          })
          legendTableInPreview.appendChild(tr)
        }
        legendTableInPreview.style.margin = '10px'
        legendTableInPreview.style.borderSpacing = '10px'
        // ----------Render from the legends done

        // clone/create all html elements that I want in the Preview
        // and add it in a span (such that there is no problem with width) to get it for html2canvas
        const parentClone = document.createElement('span')
        document.body.appendChild(parentClone)
        parentClone.appendChild(legendTableInPreview)
        parentClone.appendChild(cloneOriginalTable)

        const initWidth = cloneOriginalTable.offsetWidth
        let preW
        if (this.preselWidth === null || this.preselWidth === 0) {
          preW = 1
        } else {
          preW = this.preselWidth / initWidth
        }

        // function provided by html2canvas
        //    overwrite windowsWidth and windowHeight because of Extra white space on the left and lost part on the right
        //    https://github.com/niklasvh/html2canvas/issues/1438#issuecomment-739244530
        html2canvas(parentClone, {
          scale: 10,
          scrollX: -window.scrollX,
          scrollY: -window.scrollY,
          windowWidth: document.documentElement.offsetWidth,
          windowHeight: document.documentElement.offsetHeight
        }).then(canvas => {
          canvas.id = 'canvasPreview'
          canvas.style.transform = `scale(${preW},${preW})`
          canvas.style.transformOrigin = 'top left'
          canvas.style.overflowX = 'auto'
          document.body.appendChild(canvas)
        }).then(result => {
          parentClone.remove() // remove clone from DOM
        })
      }, 1)
    },

    initGanttTable () {
      const sD = this.startEndDate.startDate.split('-')
      const sy = parseInt(sD[0])
      const sm = parseInt(sD[1])

      const eD = this.startEndDate.endDate.split('-')
      const ey = parseInt(eD[0])
      const em = parseInt(eD[1])

      const periodMonth = parseInt(dateControl.getPeriodInMonth(this.startEndDate.startDate, this.startEndDate.endDate))

      let idOfMonth = sm
      let theYear = sy

      // push all months from the periodMonth
      for (let index = 0; index < periodMonth; index++) {
        const monthObj = {}
        monthObj.number = idOfMonth
        monthObj.year = theYear
        monthObj.nbWeeks = dateControl.getNumberOfWeeksInMonth(theYear, idOfMonth)
        // push this month
        this.listOfMonth.push(monthObj)
        if (idOfMonth === 12) {
          // we start a new year
          idOfMonth = 1
          theYear = theYear + 1
        } else {
          idOfMonth++
        }
      }

      // if the selected day is part of the week, who is part of the previous month, we need to add it
      const sDate = new Date(this.startEndDate.startDate)
      if (sDate.getDate() <= this.listOfMonth[0].nbWeeks.weeks[0].end &&
        this.listOfMonth[0].nbWeeks.weeks[0].dates.length < 4) {
        // the selected day is part of the last week of the previous month
        const monthObj = {}
        if (sm === 1) { // month is Januar so we need to get the previous year
          monthObj.number = 12
          monthObj.year = sy - 1
          monthObj.nbWeeks = dateControl.getNumberOfWeeksInMonth(sy - 1, 12)
        } else {
          monthObj.number = sm - 1
          monthObj.year = sy
          monthObj.nbWeeks = dateControl.getNumberOfWeeksInMonth(sy, sm - 1)
        }
        // add this month as the 'new' first month of the listOfMonth
        this.listOfMonth.unshift(monthObj)
      }

      // if the selected day is part of the week, who is part of the next month, we need to add it
      const eDate = new Date(this.startEndDate.endDate)
      if (eDate.getDate() >= this.listOfMonth.slice(-1)[0].nbWeeks.weeks.slice(-1)[0].start &&
        this.listOfMonth.slice(-1)[0].nbWeeks.weeks.slice(-1)[0].dates.length < 4) {
        // the selected day is part of the first week of the next month
        const monthObj = {}
        if (em === 12) { // month is Dezember so we need to get the next year
          monthObj.number = 1
          monthObj.year = ey + 1
          monthObj.nbWeeks = dateControl.getNumberOfWeeksInMonth(ey + 1, 0)
        } else {
          monthObj.number = em + 1
          monthObj.year = ey
          monthObj.nbWeeks = dateControl.getNumberOfWeeksInMonth(ey, em + 1)
        }
        // add this month as the 'new' last month of the listOfMonth
        this.listOfMonth.push(monthObj)
      }

      // Now we have all months that we need => this.listOfMonth is complet

      // get the first week number (which one between 1 and 52 or 53)
      const yearOfStringDate = this.listOfMonth[0].year
      const idMonthOfStringDate = this.listOfMonth[0].number
      // first day of the first month
      let stringDate = `${yearOfStringDate}-${idMonthOfStringDate}-1`
      let counter = 1
      const firstWeek = new Date(stringDate)
      // check to obtain real first week of the month = week that begins from Monday to Thursday (majority of the week in the month)
      if (firstWeek.getDay() > 4 || firstWeek.getDay() === 0) {
        // ^ First day is end of previous month ( Friday, Saturday or Sunday )
        // v find the first day of the month that represents the real first week
        while (!(firstWeek.getDay() > 0 && firstWeek.getDay() <= 4)) {
          counter = counter + 1
          firstWeek.setDate(counter)
        }
      }
      stringDate = `${yearOfStringDate}-${idMonthOfStringDate}-${counter}`
      this.nbFirstWeek = dateControl.getNumberOfTheWeekInYear(stringDate)

      const periodYear = this.listOfMonth.slice(-1)[0].year - this.listOfMonth[0].year + 1

      // create year object with year, globaNbW (52 or 53 weeks) and nbW (nbW is the number of the week that is render in the gantt table)
      for (let index = 0; index < periodYear; index++) {
        const yearObj = {}
        const tempYear = this.listOfMonth[0].year + index
        let numberOfWeeksInYear = 0
        this.listOfMonth.forEach(m => {
          if (m.year === tempYear) {
            numberOfWeeksInYear = numberOfWeeksInYear + m.nbWeeks.numberOfWeeks
          }
        })
        yearObj.year = tempYear
        yearObj.nbW = numberOfWeeksInYear
        yearObj.globalNbW = dateControl.getNumberOfWeeksInYear(tempYear)
        // push this year
        this.nbYears.push(yearObj)
      }

      // get this.periodInWeeks direct in the correct format to iterate very easily through periodInWeeks in the table
      // ex: this.periodInWeeks = [49, 50, 51, 52, 53, 1, 2, 3, 4]
      this.listOfMonth.forEach(m => {
        if (this.periodInWeeks.length === 0) {
          for (let index = 0; index < m.nbWeeks.numberOfWeeks; index++) {
            // because this.periodInWeeks is empty we need to initialize it with this.nbFirstWeek
            this.periodInWeeks.push(this.nbFirstWeek + index)
          }
        } else {
          for (let index = 0; index < m.nbWeeks.numberOfWeeks; index++) {
            const thisYear = this.nbYears.find(y => y.year === m.year)
            const nbWeeksFromPreviousYear = dateControl.getNumberOfWeeksInYear(thisYear.year - 1)
            if (this.periodInWeeks.slice(-1)[0] === nbWeeksFromPreviousYear && m.number === 1) {
              // first week of the year (=1)
              this.periodInWeeks.push(1)
            } else {
              // continue normal numbering process
              this.periodInWeeks.push(this.periodInWeeks.slice(-1)[0] + 1)
            }
          }
        }
      })
    },

    // ---###---IMPORT AND EXPORT JSON FORMAT---###---
    importJSON () {
      var file = document.getElementById('fileInput').files[0]
      const blob = new Blob([file], { type: 'application/json' })
      const fr = new FileReader()
      var obj

      fr.onload = () => {
        obj = JSON.parse(fr.result)
        console.log('JSON.parse(the file)\n', obj)
      }
      fr.readAsText(blob)
      fr.onloadend = async () => {
        this.attribution(this, obj)
        this.refreshPreviewByImportDate = true
        this.refreshPreviewByImportWidth = true
        const dates = { startDate: this.startDate_data, endDate: this.endDate_data, localStorDate: false }
        this.$emit('timePeriodObj', dates)
        this.$emit('preselectWidth', this.preselWidth)
      }
    },
    attribution (receive, target) {
      receive.preselWidth = target.preselWidth
      receive.legends = target.legends
      receive.features = target.features
      receive.nbYears = target.nbYears
      receive.periodInWeeks = target.periodInWeeks
      receive.listOfMonth = target.listOfMonth
      receive.nbFirstWeek = target.nbFirstWeek
      receive.startDate_data = target.startDate_data
      receive.endDate_data = target.endDate_data
    },
    exportJSON () {
      const data = {}
      this.attribution(data, this)
      // Convert the text to BLOB
      const textToBLOB = new Blob([JSON.stringify(data, null, 2)], {
        type: 'application/json'
      })
      const sFileName = 'roadmapper.json' // The file to save the data.
      const newLink = document.createElement('a')
      newLink.download = sFileName

      if (window.webkitURL != null) {
        newLink.href = window.webkitURL.createObjectURL(textToBLOB)
      } else {
        newLink.href = window.URL.createObjectURL(textToBLOB)
        newLink.style.display = 'none'
        document.body.appendChild(newLink)
      }
      newLink.click()
    },
    exportPNG () {
      // src: https://codepen.io/joseluisq/pen/mnkLu?editors=1010
      const filename = 'roadmapper.png'
      const canvas = document.getElementById('canvasPreview')
      /// create an "off-screen" anchor tag
      var lnk = document.createElement('a')
      var e

      /// the key here is to set the download attribute of the a tag
      lnk.download = filename

      /// convert canvas content to data-uri for link. When download
      /// attribute is set the content pointed to by link will be
      /// pushed as "download" in HTML5 capable browsers
      lnk.href = canvas.toDataURL('image/png;base64')

      /// create a "fake" click-event to trigger the download
      if (document.createEvent) {
        e = document.createEvent('MouseEvents')
        e.initMouseEvent('click', true, true, window,
          0, 0, 0, 0, 0, false, false, false,
          false, 0, null)

        lnk.dispatchEvent(e)
      } else if (lnk.fireEvent) {
        lnk.fireEvent('onclick')
      }
    },
    // src: https://gist.github.com/viclafouch/36d3edf58633a25c8b973588cc13480e
    async copyClipboard () {
      // Can we copy a text or an image ?
      const canWriteToClipboard = await this.askWritePermission()

      // @params blob - The ClipboardItem takes an object with the MIME type as key, and the actual blob as the value.
      // @return Promise<void>
      const setToClipboard = async blob => {
        // eslint-disable-next-line no-undef
        const data = [new ClipboardItem({ [blob.type]: blob })]
        await navigator.clipboard.write(data)
      }

      // Copy a PNG image to clipboard
      if (canWriteToClipboard) {
        const canvas = document.getElementById('canvasPreview')
        canvas.toBlob(async function (blob) {
          await setToClipboard(blob)
          alert('copy done')
        }, 'image/png')
      }
    },
    // @return Promise<boolean>
    async askWritePermission () {
      try {
        // The clipboard-write permission is granted automatically to pages
        // when they are the active tab. So it's not required, but it's more safe.
        const { state } = await navigator.permissions.query({ name: 'clipboard-write' })
        return state === 'granted'
      } catch (error) {
        alert("Browser isn't compatible")
        return false
      }
    }
  }
}
</script>

<style scoped>
.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

#floatLeft {
  text-align: left;
}

.buttonGreen {
  color: green;
}

/* CSS for mdi font symbol */

.fontSize40px {
  font-size: 40px;
}

/* default CSS for all tables */

td {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
  display: inline-block;
  margin-right: 10px;
}

/* CSS for the table with the list of availables colors and eraser */

.cursorPointer {
  cursor: pointer;
}
.fontSize50px {
  font-size: 50px;
}

.color-box span {
  padding: 2px;
  padding-left: 20px;
  border-radius: 3px;
}
.colorBoxSpanSelected {
  border: 1px solid black;
}
.color-box {
  padding: 4px;
  border-radius: 3px;
}

/* CSS for the table with the legends */

#legend-table {
  max-width: 50%;
  overflow-x: auto;
}
.legend-box span {
  padding-left: 100%;
}
.legend-box-sndRow {
  padding: 0 10px;
}
.legend-box-sndRow p {
  margin: 10px 0;
}

/* CSS form to add a new legend */

#formLegend {
  display: inline-block;
  margin-left: 10px;
}
#formLegend input,
#feature {
  margin: 0 10px;
}

/* CSS main part : gantt-table */

.div-gantt-table {
  overflow: auto;
}

#gantt-table {
  empty-cells: show;
  margin: 0;
  border-collapse: separate; /* Don't collapse otherwise sticky col doesn't have border */
  border-spacing: 0;
}

.sticky-col {
  position: sticky;
  background-color: white;
  left: 0px;
}

.movePointer {
  cursor: move;
}

.td-gantt_Padding4px {
  padding: 4px;
}
.td-gantt_Padding8px {
  padding: 8px;
}
.td-gantt-week_Width30px {
  max-width: 25px;
  min-width: 25px;
  padding: 4px;
}

#td-BorderNone {
  border: none;
}

.colorizedCell {
  background-color: green;
}

/* ForPreview */

.gantt-table-Preview {
  overflow-x: visible;
  width: auto;
  max-width: none;
  border-collapse: collapse; /* to remove border correctly */
}
.cell-default-Preview {
  border-top: 1px solid black;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid black;
}
.cell-color-Preview {
  border-top: 1px solid black;
  border-left: none;
}
.cell-1stColColor-Preview {
  border-top: 1px solid black;
}
.cell-lastOfRow-Preview {
  border-right: 1px solid black;
}
.cell-lastRow-Preview {
  border-bottom: 1px solid black;
}
</style>
