<template>
  <form @submit.prevent="submitDates(false)" id="formDate">
    <label for="startDate">von</label>
    <input
      :class="{
        invalidData: dateIsValid === 'invalid',
        validData: dateIsValid === 'valid'
      }"
      type="date"
      id="startDate"
      name="startDate"
      min="2018-01-01"
      v-model="startDate"
      @change="validateDateInput"
    />

    <label for="endDate">bis</label>
    <input
      :class="{
        invalidData: dateIsValid === 'invalid',
        validData: dateIsValid === 'valid'
      }"
      type="date"
      id="endDate"
      name="endDate"
      min="2018-01-01"
      v-model="endDate"
      @change="validateDateInput"
    />
    <button :disabled="savePeriodIsAble !== true">Save Period</button>
  </form>

  <hr />

  <div id="divButton">
    <label class="custom-labelInput">
      <input type="file" id="fileInput" @change="importJSON()" /> Import JSON
      File
    </label>
    <button @click="exportJSON()">Export JSON</button>
    <button @click="exportPNG()">Download PNG</button>
    <button @click="copyClipboard()">Copy to Clipboard</button>
    <button class="btn" @click="clearLocalStorage">Clear localStorage</button>
  </div>

  <div id="divWidth">
    <select v-model="curLanguage" id="languages" @click="changeLanguage">
      <option v-for="locale in locales" :key="locale.id" :value="locale.id">
        {{ locale.name }}
      </option>
    </select>
    <p>
      width:
      <input
        id="preselectedWidthCSS"
        :class="{
          invalidData: widthIsValid === false,
          validData: widthIsValid === true
        }"
        type="number"
        placeholder="enter a width"
        v-model.trim="preselectedWidth"
        @change="resetWidthValidity"
      />
      px
    </p>
    <button @click="registerWidth">Register width</button>
  </div>
</template>

<script>
export default {
  emits: ['changeLanguage', 'timePeriodObj', 'preselectWidth'],
  props: {
    currentLanguage: String,
    locales: Array,
    // form : startEndDate={startDate:startDate,endDate:endDate}
    startEndDate: Object,
    preselWidth: Number
  },
  data () {
    return {
      curLanguage: this.currentLanguage,
      startDate: '',
      endDate: '',
      dateIsValid: 'pending',
      preselectedWidth: null,
      savePeriodIsAble: false,
      widthIsValid: null,
      importBoolean: false
    }
  },
  mounted () {
    if (localStorage.startDate && localStorage.endDate) {
      this.startDate = localStorage.startDate
      this.endDate = localStorage.endDate
      this.submitDates(true)
    }
    if (localStorage.preselectedWidth) {
      this.preselectedWidth = localStorage.preselectedWidth
      this.registerWidth()
    }
  },
  watch: {
    startEndDate: {
      handler (val, oldVal) {
        localStorage.startDate = val.startDate
        localStorage.endDate = val.endDate
        this.startDate = val.startDate
        this.endDate = val.endDate
        this.importBoolean = val.importBoolean
      }
    },
    preselWidth: {
      handler (val) {
        localStorage.preselectedWidth = val
        this.preselectedWidth = val
      }
    }
  },
  computed: {
    getCurrentLanguage: function () {
      return this.curLanguage
    }
  },
  methods: {
    changeLanguage: function () {
      this.$emit('changeLanguage', this.getCurrentLanguage) // create en event "$emit(name,valueToPass)" to pass data to App.vue. That's the only way to pass data to parent
    },
    validateDateInput () {
      if (this.startDate !== '' && this.endDate !== '') {
        if (this.startDate > this.endDate) {
          this.dateIsValid = 'invalid'
          this.savePeriodIsAble = false
        } else {
          this.dateIsValid = 'pending'
          this.savePeriodIsAble = true
        }
      } else {
        this.dateIsValid = 'pending'
        this.savePeriodIsAble = false
      }
    },
    submitDates (localStor) {
      this.dateIsValid = 'valid'
      const dates = {
        startDate: this.startDate,
        endDate: this.endDate,
        localStorDate: localStor
      }
      this.$emit('timePeriodObj', dates)
    },
    registerWidth () {
      if (this.preselectedWidth >= 0) {
        this.widthIsValid = true
        this.$emit('preselectWidth', this.preselectedWidth)
      } else {
        this.widthIsValid = false
      }
    },
    resetWidthValidity () {
      this.widthIsValid = null
    },
    importJSON () {
      this.emitter.emit('importJSON')
    },
    exportJSON () {
      this.emitter.emit('exportJSON')
    },
    exportPNG () {
      this.emitter.emit('exportPNG')
    },
    copyClipboard () {
      this.emitter.emit('copyClipboard')
    },
    clearLocalStorage () {
      localStorage.clear()
    }
  }
}
</script>

<style scoped>
#formDate input,
#divButton button {
  margin: 0px 2%;
}

.invalidData {
  color: red;
}
.validData {
  color: green;
}

#preselectedWidthCSS {
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

#divWidth {
  margin: 15px 0;
}

#divWidth p {
  display: inline;
  margin: 0 2%;
}

input[type="file"] {
  display: none;
}
.custom-labelInput {
  color: black;
  padding: 1px 6px;
  text-decoration: none;
  display: inline-block;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(118, 118, 118);
  margin: 0px 2%;
  font: 400 13.3333px Arial;
  background-color: rgb(239, 239, 239);
  border-radius: 1px;
}
.custom-labelInput:hover {
  border-color: rgb(100, 100, 100);
  background-color: rgb(220, 220, 220);
}
</style>
