<template>
  <div class="bodyCentered">
    <tool-bar
      :currentLanguage="currentLanguage"
      :startEndDate="{startDate:startDate, endDate:endDate}"
      :preselWidth="preselectedWidth"
      :locales="locales"
      @changeLanguage="updateLanguage($event)"
      @timePeriodObj="setTimePeriod"
      @preselectWidth="setSelectedWidth"
    ></tool-bar>
    <main-comp
      :currentLanguage="currentLanguage"
      :startEndDate="{startDate:startDate, endDate:endDate, localStorDate:localStorDate}"
      :preselectedWidth="preselectedWidth"
      @timePeriodObj="setTimePeriodFromImport"
      @preselectWidth="setSelectedWidth"
    ></main-comp>
  </div>
</template>

<script>
import ToolBar from './components/ToolBar.vue'
import MainComp from './components/MainComp.vue'

export default {
  name: 'App',
  components: { ToolBar, MainComp },
  data () {
    return {
      currentLanguage: 'en', // default language
      locales: [
        { id: 'en', name: 'English' },
        { id: 'de', name: 'Deutsch' },
        { id: 'fr', name: 'Français' }
      ],
      startDate: '',
      endDate: '',
      preselectedWidth: null,
      localStorDate: true
    }
  },
  methods: {
    updateLanguage (updatedLanguage) {
      this.currentLanguage = updatedLanguage
    },
    setTimePeriod (periodObj) {
      this.startDate = periodObj.startDate
      this.endDate = periodObj.endDate
      this.localStorDate = periodObj.localStorDate
    },
    setTimePeriodFromImport (periodObj) {
      this.startDate = periodObj.startDate
      this.endDate = periodObj.endDate
    },
    setSelectedWidth (theWidth) {
      this.preselectedWidth = +theWidth // convert to Number directly
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}

.bodyCentered {
  max-width: 1200px;
  margin: 0px auto;
}

</style>
